@using System.Data
@using System.Data.SqlClient
@using System.Data.SqlTypes
@using AS_CLOUD_HOTEL.Models
@model AS_CLOUD_HOTEL.Models.PageModel

@{
    ViewBag.Title = "GetGuest_Details";
    Layout = null;

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

    CLoudHotelDbContext db = new CLoudHotelDbContext();
    var companyId = Convert.ToInt64(Model.StkTrans.COMPID);

    string companyName = "", address = "", contactNo = "", address2 = "";
    var re = from m in db.AslCompanyDbSet where m.COMPID == companyId select new { m.COMPNM, m.ADDRESS, m.CONTACTNO, m.ADDRESS2 };
    foreach (var n in re)
    {
        companyName = n.COMPNM;
        address = n.ADDRESS;
        contactNo = n.CONTACTNO;
        address2 = n.ADDRESS2;
    }
    var compNm = companyName;
    var Address = address;
    var contactno = contactNo;

    DateTime fdate = Convert.ToDateTime(Model.Report_FromDate);
    string ddt = fdate.ToString("dd-MMM-yyyy");
    var fromdate = ddt;

    DateTime tDate = Convert.ToDateTime(Model.Report_ToDate);
    string tdd = tDate.ToString("dd-MMM-yyyy");
    var todate = tdd;

    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);
}


<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/Content/reportcss/style.css" rel="stylesheet" />

</head>
<body style=" background-color:#fafafa;">
    <div style="width: 960px; margin: 0px auto; border: 1px solid #d3d3d3; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); background: none repeat scroll 0 0 white;">
        <table id="mainTable" border="0" width="100%">
            <thead>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                </tr>
                <tr style="background-color: #00689b">
                    <td colspan="13">
                        <h3 style="color: white;padding:4px">@compNm</h3>
                        <p style="color:white;padding-left:4px">@Address<br /> @address2</p>
                    </td>

                    <td colspan="7" style="color: white;padding:8px" align="right">
                        Powered By<br />Alchemy Software
                    </td>

                </tr>
                <tr>
                    <td colspan="13" align="left" style="padding: 4px; font-weight: bold">GUEST DETAILS</td>
                    <td align="right" colspan="7" style="padding:8px">Print:@currentDateTime.ToString("dd-MM-yy hh:mm tt")</td>
                </tr>
                <tr style="outline: thin solid">
                    <td colspan="10" style="padding:4px;font-weight:bold">From Date : <span style="font-weight: bold">@fromdate</span></td>
                    <td colspan="10" style="font-weight: bold"> To Date : <span style="font-weight:bold">@todate</span></td>
                </tr>
                <tr style="background-color: #00689b; outline: thin solid">
                    <td colspan="2" style="color: white; padding: 4px" align="center">Reg. ID</td>
                    <td colspan="1" style="color: white; padding: 4px" align="center">Room No</td>
                    <td colspan="3" style="color: white; padding: 4px" align="center">Guest</td>
                    <td colspan="2" style="color: white; padding: 4px" align="center">Gender</td>
                    <td colspan="4" style="color: white; padding: 4px" align="center">Address</td>
                    <td colspan="3" style="color: white; padding: 4px" align="center">Mobile</td>
                    <td colspan="3" style="color: white; padding: 4px" align="center">Email</td>
                    <td colspan="2" style="color: white; padding: 4px" align="center">Nationality</td>
                </tr>
            </thead>
            <tbody>
                @{


                    System.Data.SqlClient.SqlConnection conn1 = new System.Data.SqlClient.SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings["CLoudHotelDbContext"].ToString());
                    string query1 = string.Format(
                        @"SELECT A.REGNID, ROOMNO, GUESTNM, GENDER, ADDRESS, MOBNO, EMAILID, NATIONALITY
FROM HML_REGN A JOIN HML_GUESTS B ON A.COMPID = B.COMPID AND A.REGNID = B.REGNID AND A.REGNDT BETWEEN '{1}' AND '{2}'
WHERE  A.COMPID = '{0}'
ORDER BY A.REGNID, GUESTID",
                        companyId, fromdate, todate);
                    System.Data.SqlClient.SqlCommand cmd1 = new System.Data.SqlClient.SqlCommand(query1, conn1);
                    conn1.Open();
                    SqlDataAdapter da1 = new SqlDataAdapter(cmd1);
                    DataTable ds1 = new DataTable();
                    da1.Fill(ds1);

                    string REGNID = "", ROOMNO = "", GUESTNM = "", GENDER = "", ADDRESS = "", MOBNO = "", EMAILID = "", NATIONALITY = "";

                    foreach (DataRow row in ds1.Rows)
                    {

                        REGNID = row["REGNID"].ToString();
                        ROOMNO = Convert.ToString(row["ROOMNO"]);
                        GUESTNM = Convert.ToString(row["GUESTNM"]);
                        GENDER = Convert.ToString(row["GENDER"]);
                        ADDRESS = Convert.ToString(row["ADDRESS"]);
                        MOBNO = Convert.ToString(row["MOBNO"]);
                        EMAILID = Convert.ToString(row["EMAILID"]);
                        NATIONALITY = row["NATIONALITY"].ToString();

                        <tr style="outline: thin solid">
                            <td align="left" colspan="2" style="padding-left: 4px">
                                @REGNID
                            </td>
                            <td align="center" colspan="1">
                                @ROOMNO
                            </td>
                            <td align="left" colspan="3">
                                @GUESTNM
                            </td>
                            <td align="left" colspan="2">
                                @GENDER
                            </td>
                            <td align="left" colspan="4">
                                @ADDRESS
                            </td>
                            <td align="left" colspan="3">
                                @MOBNO
                            </td>
                            <td align="left" colspan="3">
                                @EMAILID
                            </td>
                            <td align="left" colspan="2">
                                @NATIONALITY
                            </td>
                        </tr>


                    }
                }
                conn1.Close();
                }
                @*<tr>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="1"></td>
                        <td align="right" colspan="3" style="font-weight:bold">
                            Total:
                        </td>
                        <td align="right" colspan="2" style="font-weight:bold">
                            @total_BQTY
                        </td>
                        <td align="right" colspan="2" style="font-weight:bold">
                            @total_SQTY
                        </td>
                        <td align="right" colspan="2" style="font-weight:bold">
                            @total_INQTY
                        </td>
                        <td align="right" colspan="2" style="font-weight:bold">
                            @total_OUTQTY
                        </td>
                        <td align="right" colspan="2" style="font-weight:bold">
                            @{
                                total_Balance = Opening + total_BQTY - total_SQTY + total_INQTY - total_OUTQTY;
                            }
                            @total_Balance
                        </td>
                    </tr>*@

            </tbody>
        </table>
    </div>

</body>
</html>



